*
{
	box-sizing: border-box;
}
img#cartLogo
{
	position: fixed;
	right: 20px;
	top: 20px;
	width: 70px;
	height: 70px;
	cursor: pointer;
}
#titrePrincipal, #titrePrincipal+h2
{
	/* margin-left: 20%; */
	color: #ac873a;
}
h1, h2, h3
{
	text-align: center;
	text-transform: uppercase;
	font-family: "Agency FB", "Helvetica Neue", Helvetica, sans-serif;
	/*text-decoration: underline;*/
}
div#imageList
{
	/* margin-left: 20%; */
	/* border: solid 3px red; */
	padding: 0px;
	text-align: center;
}
.imageItem
{
	display: inline-block;
	border: solid 3px #ac873a/* lightskyblue */;
	margin: 5px;
	padding-bottom: 5px;
	border-radius: 10%;
}
.imageItem span
{
	display: block;
	margin-bottom: 5px;
}
.imageItem > img
{
	height: 200px;
	width: 200px;
	border-radius: 20%;
	margin: 20px;
	/*border: double lightgrey 3px;*/
	box-shadow: 6px 6px 15px black;
	cursor: zoom-in;
}
#popupImage, #commandBox
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 0%;
	height: 0%;
	cursor: pointer;
	color: white;
	text-align: center;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 15px;

	transition: width 1.5s,height 1.5s;
}
#popupImage img
{
	position: absolute;
	left: 25%;
	top: 12%;
	width: 50%;
	height: 76%;
	cursor: zoom-out;
	/*max-height: 76%;*/
	/*box-shadow: 6px 6px 15px lightcoral;*/
	border: double white 5px;
	border-radius: 0% 30%;
}
#popupImage h1
{
	position: absolute;
	color: white;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
}
#panier
{
	position: fixed;
	/* background-color: #ac873a; */
	color: white;
	background-color: rgba(172, 135, 58, 1);
	left: 20px;
	top: 20px;
	width: 20%;
	height: fit-content;
	/* text-align: center; */
	border-radius: 20%;
	box-shadow: 14px 14px 15px rgb(182, 117, 37);
}
#panier p, #panier h3, #panier li
{
	font-family: "Comic Sans MS";
}
#panier p, #panier h3
{
	text-align: center;
}
#panier h3
{
	cursor: pointer;
	color: yellow;
}
table
{
	border-collapse: collapse;
	background-color: white;
	border: solid grey 2px;
	font-family: "Comic Sans MS";
    border-radius: 10%;
	color: black;
	min-width: 50%;
	width: fit-content;
	margin: auto;
}
th, td
{
	padding: 5px;
	border: solid grey 1px;
}
th
{
	font-size: 1.5em;
}
td 
{
	font-size: 1.2em;
}
td img
{
	border-radius: 50%;
	border: solid grey 1px;
}
div.controls
{
	text-align: right;
}