*
{
	box-sizing: border-box;
}
header, main, nav, #titre
{
	min-width: 720px;
}
header
{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 30%;
	text-align: center;
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-position: center 10%;
	background-size: cover;
	opacity: 0.5;
}
#titre
{
	position: absolute;
	left: 0%;
	padding: 0%;
	top: 6%;
	font-size: 300%;
	width: 100%;
	text-align: center;
	/* font-family: "Poiret One"; */
	/* text-transform: uppercase; */
	/* font-family: "Agency FB"; */
}
nav
{
	position: absolute;
	left: 0%;
	top: 30%;
	width: 100%;
	height: 5%;
	text-align: center;
}
nav li, nav ul
{
	padding: 0px;
	margin: 0px;
	display: inline;
}
nav li a
{
	display: inline-block;
	position: relative;
	margin: 0px;
	height: 100%;
	width: 20%;
	padding: 0.5%;
	font-size: 1.2em;
	text-decoration: none;
	color: whitesmoke;
	/* font-family: "Poiret One"; */
	/* font-family: "Agency FB"; */
}
nav li a:hover
{
	text-transform: uppercase;
}
main
{
	position: absolute;
	left: 0%;
	top: 35%;
	width: 100%;
	height: fit-content;/* 60%; */
	text-align: center;
	padding: 0px 2%;
}
main h1:first-child
{
	font-family: "Poiret One", "Agency FB";
}
#borderTopLeft
{
	position: absolute;
	left: 1%;
	top: 36%;
	width: 5%;
	height: 10%;
	border-top: 5px solid #6a96d9;
	border-left: 5px solid #6a96d9;
}

#borderBottomRight
{
	position: absolute;
	right: 1%;
	bottom: 1%;
	width: 5%;
	height: 10%;
	border-bottom: 5px solid #6a96d9;
	border-right: 5px solid #6a96d9;
}
p
{
	text-align: justify;
	line-height: 1.5;
}