h1
{
    text-align: center;
}
form, fieldset {
    margin-bottom: 20px;
}
form, table {
    margin: 10px;
    width: 90%;
    margin: auto;
}
input[type=checkbox] {
    width: 15px; height: 15px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    font: 2em;
}
table{
    text-align: center;

}
.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: solid 1px grey;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr:hover {
    /* font-weight: bold; */
    color: #009879;
    cursor: context-menu;
}
a
{
	color: #009879;
}
a:hover
{
	color: blue;
}